html,
body,
#__nuxt {
    height: 100vh;
    margin: 0px;
    background: #1c1b22;
}

.youtube {
    box-shadow: 0px 0px 8px 4px rgba(255, 0, 0, .08);
    border: 1px solid rgba(255, 0, 0, .12);
    color: rgba(255, 0, 0, 1);
}

.twitch {
    box-shadow: 0px 0px 8px 4px rgba(145, 71, 255, .08);
    border: 1px solid rgba(145, 71, 255, .12);
    color: rgba(145, 71, 255, 1);
}

.twitter {
    box-shadow: 0px 0px 8px 4px rgba(8, 160, 233, .08);
    border: 1px solid rgba(8, 160, 233, .12);
    color: rgba(8, 160, 233, 1);
}

.reddit {
    box-shadow: 0px 0px 8px 4px rgba(255, 69, 0, .08);
    border: 1px solid rgba(255, 69, 0, .12);
    color: rgba(255, 69, 0, 1);
}

.nyaa {
    box-shadow: 0px 0px 8px 4px rgba(255, 183, 197, .08);
    border: 1px solid rgba(255, 183, 197, .12);
    color: rgba(255, 183, 197, 1);
}

.livechart {
    box-shadow: 0px 0px 8px 4px rgba(59, 151, 252, .08);
    border: 1px solid rgba(59, 151, 252, .12);
    color: rgba(59, 151, 252, 1);
}

.anilist {
    box-shadow: 0px 0px 8px 4px rgba(2, 169, 255, .08);
    border: 1px solid rgba(2, 169, 255, .12);
    color: rgba(2, 169, 255, 1);

    img {
        height: 50px;
        width: 50px;
    }
}

.subsplease {
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, .32);
    border: 1px solid rgba(0, 0, 0, .12);
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.github {
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, .32);
    border: 1px solid rgba(0, 0, 0, .12);
    color: rgba(255, 255, 255, 1);
}

.stackoverflow {
    box-shadow: 0px 0px 8px 4px rgba(239, 130, 54, .08);
    border: 1px solid rgba(239, 130, 54, .12);
    color: rgba(239, 130, 54, 1);
}

.dev {
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, .32);
    border: 1px solid rgba(0, 0, 0, .12);
    color: rgba(255, 255, 255, 1);
}
